* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
#footer_container {
    color: rgb(255, 194, 108);
    padding: 10px 30px;
    background-color: rgb(24, 65, 73);
    /*background-color: #246573;*/
    width: 100%;
}

#newsletter_text {
    float: left;
}

#newsletter_form {
    float: right;
    position: relative;
    top: 50px;
    right: 100px;
}

#lower_footer_container {
    clear: both;
    display: flex;
    flex-wrap: wrap;
}

#lower_footer_container > * {
    width: 33%;
}

#social_footer {
    width: 33%;
    background-color: black;
}