body {
    margin: 0;
}

#footer_container {
    box-sizing: border-box;
    color: rgb(255, 194, 108);
    padding: 10px 30px;
    background-color: rgb(24, 65, 73);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_container * {
    box-sizing: border-box;
}

#upper_footer_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
}

#newsletter_text > p {
    color: rgb(242, 243, 244);
}

#lower_footer_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    align-items: flex-start;
}

#lower_footer_container > * {
    flex: 1;
    border-top: thick solid rgb(255, 194, 108);
}

#lower_footer_container span > a {
    color: rgb(242, 243, 244);
    text-decoration: none;
    font-size: smaller;
}
