body {
  background: #FFF0DA;
  margin: 0;
}

/* PRIMA SEZIONE  della homepage, contiene uno slideshow*/
.slideshow-background {
  background-color: rgb(70, 102, 109); /* colore di sfondo alle immagini */
  position: relative;
  height: 550px;
}

.container {
  position: relative; /* la classe container è un riferimento per position */
  height: 500px;
  margin: 50px;
  padding-top: 25px;
  align-items: center;
}

.slider { /* slider conterrà le diverse slide con le immagini e il testo */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; /* posizione assoluta relativamente a container */
  border: solid 1px rgba(255, 194, 108, 0.8);
  border-radius: 10px;
  box-sizing: border-box; /* il bordo è applicato al content */
}

.slide { /* una singola slide contiene l'immagine e il testo */
  position: absolute; /* posizione assoluta relativamente a container */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; /* con le 4 istruzioni sovrastanti la slide prende tutto lo spazio possibile */
  display: none; /* inizialmente è invisibile */
  animation-name: fade; /* nome dell'animazione applicata */
  animation-duration: 2s; /* durata dell'animazione */
  animation-iteration-count: 1; /* l'animazione è riptuta una volta */
}
@keyframes fade { /* animazione usata quando varia la slide dello slideshow, vedi JS */
  from {opacity: 0.4}
  to {opacity: 1}
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* object-fit specifica come l'immagine deve essere ridimensionata per entrare in .slide, con cover l'immagine mantiene le sue proporzioni e riempie lo spazio assegnato con width e heigh. L'immagine viene tagliata se necessario */
}
.slide-text { /* questa classe si riferisce al testo presente sulle slide */
  position: absolute;
  width:35%;
  left: 8%;
  top: 32%;
  color: black;
  padding: 15px 0px; /* padding per distanziare il testo dal bordo */
  -webkit-text-stroke: 0.5px rgba(255, 194, 108); /* per aggiungere del bordo ai singoli caratteri, funziona solo con i broeser che la supportano */
  text-stroke: 2px (255, 194, 108); /* questa istruzione è utile per browser che non supportano l'istruzione precedente */
  text-align: center ;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Montserrat', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.3); /* Aggiunge uno sfondo sfumato bianco */
  border-radius: 15px; /* Aggiunge bordi arrotondati */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
}
@media (max-width: 1000px){
  .slide-text{
    display: none;
  }
}

#text-slide-1 {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3); /* Aggiunge uno sfondo meno sfumato */
}
#text-slide-3 {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.7); /* Aggiunge uno sfondo meno sfumato */
}

.fixed-content {
  position: absolute;
  left: 17%;
  bottom: 20%; /* distanti dal fondo del contenitore */
  display: flex; /* allineati in riga */
  flex-direction: column;
  align-items: center;
}
.fixed-content p {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 194, 108);
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.3); /* Aggiunge uno sfondo sfumato bianco */
  border-radius: 5px; /* Aggiunge bordi arrotondati */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
}
#ordina-ora-btn {
  width: 150px;
  font-family: 'Montserrat', sans-serif;

}

/*SECONDA SEZIONE della homepage, dedicata a suggerire azioni all'utente*/
#contenitore_2{
    display: flex;
    flex-wrap: wrap;/*permette di visionare in modo corretto gli elementi anche quando la pagina è di dimensioni ridotte*/
    justify-content: center; /*allineamneto dei blocchi al centro della pagina*/
    margin: 10% 0%;
    font-size: 15px;
}

#contenitore_2 p{/*frasi all'interno dei singoli blocchi*/
    font-family: lucida handwriting, Cursive; /*aggiunge un font corsivo*/
    color: rgb(255, 194, 108); /*colore del testo*/
    position: relative; /*posizionamento relativo al contenitore*/
}
/*tre colonne che consigliano tre percorsi differenti per navigare nel sito*/
.col{
  margin: 5px; /*distanzia le colonne tra loro*/
  border-radius: 10px; /*smussa gli angoli delle colonne*/
  background-size: cover; /*ridimensiona la foto di sfondo*/
  width: 300px; /*larghezza della colonna*/
  height: 500px; /*altezza della colonna*/
}

#sx2 {
    border: 7px solid #385723;/*inserire un bordo colorato per costituire i colori della bandiera italiana e riprendere i colori delle singole foto*/
    background-image: url("media/home/mainSX.jpg"); /*immagine di sfondo*/
}
#frasesx{ /*indicazioni per posizionare la frase all'interno della colonna*/
    top: 85px;
    left: 15px;
}
#cc2 {
    border: 7px solid #ffffff;/*inserire un bordo colorato per costituire i colori della bandiera italiana e riprendere i colori delle singole foto*/
    background-image: url("media/home/mainCC.png"); /*immagine di sfondo*/
}
#frasecc{ /*indicazioni per posizionare la frase all'interno della colonna*/
    top: 445px;
    left: 80px;
}
#dx2 {
    border: 7px solid #C00000;/*inserire un bordo colorato per costituire i colori della bandiera italiana e riprendere i colori delle singole foto*/
    background-image: url("media/home/mainDX.png"); /*immagine di sfondo*/
}
#frasedx{ /*indicazioni per posizionare la frase all'interno della colonna*/
    text-align: right; /*allineato al margine destro*/
    top: 380px;
    right: 15px;
}

/*TERZA SEZIONE della homepage, dedicata a mostrare la pasta della settimana*/
.row{
    box-sizing: border-box;
    background-color: #46666D;
    color:rgb(255, 194, 108);
    display: flex;
    justify-content: space-evenly; /*distribuzione degli elementi allìinterno della sezione*/
    align-items: center; /*centra gli elementi*/
    padding: 20px; /*altezza della sezione*/
    width: 100%; /*ricopre tutta la larghezza*/
    margin: 5% 0%; /* margine per allinare */
    min-height: 400px;/*imposta un'altezza minima e fissa della riga, serve per la quarta sezione*/
}
/*descrizione testuale a sinistra dello schermo*/
#sx3{
  max-width: 700px;
}

#sx3 h2{
    font-weight: 100; /*grassetto*/
    font-family: lucida handwriting, Cursive; /*font corsivo*/
}

#sx3 p{
    font-size: 20px;
}
/*immagine illustrativa a destra dello schermo*/
.row img{
    width: 400px;
    filter: drop-shadow(8px 8px 10px rgb(40, 40, 40)); /*crea l'ombra sotto la foto*/
}

@media(max-width: 650px) {
  .row img {
    display: none;/*se si riduce la finestra al di sotto di 650px la foto non è più mostrata*/
  }

  .slide-text {
    display: none;
  }
}

/*QUARTA SEZIONE della homepage, dedicata a mostrare la le recensioni dei clienti*/
.recensioni{
    max-width: 500px; /*larghezza massima del testo*/
    text-align: center; /*allineamento centrale*/
    line-height: 1.3;/*aumenta la spaziatura tra le righe*/
    padding: 70px;
    border-style: double;
    border-color:  rgb(255, 194, 108) rgba(255, 194, 108, 0) rgb(255, 194, 108) rgba(255, 194, 108, 0); /*imposta i colori dei lati del bordo della scritta in ordine orario a partire dal top*/
}

/*QUINTA SEZIONE della homepage, dedicata a consigliare i nostri social*/
#contenitore_5{
    text-align: center;
    color:#184149; /*colore della scritta*/
    font-weight: 900;
    padding: 20px;
    margin: 6% 0%; /* margine per allinare */
}

#contenitore_5 a{
    text-decoration: none; /*per togliere gli effetti dei link*/
    color:#184149; /*per colorare le icone*/
    font-size: 30px; /*per impostare la dimensione delle icone*/
}

#contenitore_5 a:hover{
    filter: invert(50%); /*per rendere le icone responsive quando ci si scorre sopra col cursore, il colore viene invertito del 50%*/
}

/*pulsanti per spostarsi in altre pagine*/
.bot{
    text-decoration: none; /*per togliere gli effetti dei link*/
    font-family: serif;
    display: inline-block;
    border: thin solid rgb(255, 194, 108);
    background-color: rgb(70, 102, 109);
    border-radius: 7px; /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 10px 20px;  /*per aumentare quello che circonda il bottone*/
    color: rgb(255, 194, 108);
    font-size: 15px;
    cursor: pointer; /*facciamo uscire la manina*/
    transition: all .3s ease; /*la transizione del :hover è graduale*/
}

#contenitore_2 .bot{
    font-size: 20px;
    position: relative;
    width: 140px; /*per uniformare le larghezze dei botton delle tre colonne*/
    text-align: center;/*per allineare il testo al centro del bottone*/
    top: 200px;
    left: 60px;
}

.row .bot{
    background-color: #184149;
    text-align: center;
}

.bot:hover{
    border: thin solid #184149;
    background-color:rgb(245, 207, 154);
    color: #5D7A7F;
}
