body {
    background: #FFF0DA;
    margin: 0;
}
/*SECONDA SEZIONE della hompage, dedicata a suggerire azioni all'utente*/
#contenitore_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% 10%;
    font-family: lucida handwriting, Cursive;
    font-size: 20px;
}

#contenitore_2 p{
    color: rgb(255, 194, 108);
}
/*tre colonne che consigliano tre percorsi differenti per navigare nel sito*/
#sx2 {
    margin: 5px;
    border: 7px solid #385723;
    border-radius: 10px;
    background-image: url("media/home/mainSX.jpg");
    background-repeat:none;
    background-size: cover;
    width: 370px;
    height: 600px;
}
#frasesx{
    position: relative;
    top: 85px;
    left: 15px;
}
#cc2 {
    margin: 5px;
    border: 7px solid #ffffff;
    border-radius: 10px;
    background-image: url("media/home/mainCC.png");
    background-repeat:none;
    background-size: cover;
    width: 370px;
    height: 600px;
}
#frasecc{
    position: relative;
    top: 530px;
    left: 80px;
}
#dx2 {
    margin: 5px;
    border: 7px solid #C00000;
    border-radius: 10px;
    background-image: url("media/home/mainDX.png");
    background-repeat:none;
    background-size: cover;
    width: 370px;
    height: 600px;
}
#frasedx{
    text-align: right;
    position: relative;
    top: 380px;
    right: 15px;
}

/*TERZA SEZIONE della hompage, dedicata a mostrare la pasta della settimana*/
.row{
    box-sizing: border-box;
    background-color: #46666D;
    color:rgb(255, 194, 108);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*min-height: 300px;*/
    padding: 20px;
    width: 100%;
    margin: 5% 0%; /* margine per allinare */
}
/*descrizione testuale della proposta a sinistra dello schermo*/
#sx3{
    width: 700px;
}

#sx3 h2{
    font-weight: 100;
    font-family: lucida handwriting, Cursive;
}

#sx3 p{
    font-size: 20px;
}
/*immagine illustrativa a destra dello schermo*/
.row img{
    width: 400px;
    filter: drop-shadow(8px 8px 10px rgb(40, 40, 40)); /*crea l'ombra sotto la foto*/
}

/*QUARTA SEZIONE della hompage, dedicata a mostrare la le recensioni dei clienti*/
.recensioni{
    display:none;
    max-width: 500px;
    text-align: center;
    line-height: 1.3;/*aumenta la spaziatura tra le riche*/
    padding: 70px;
    border-style: double;
    border-color: rgb(255, 194, 108) #46666D rgb(255, 194, 108) #46666D;
}
/*QUINTA SEZIONE della hompage, dedicata a consigliare i nostri social*/
#contenitore_5{
    text-align: center;
    color: #46666D; 
    font-weight: 900;
    padding: 20px;
    margin: 6% 0%; /* margine per allinare */
}

#contenitore_5 a{
    filter: invert(100%);
    text-decoration: none; /*per togliere gli effetti dei link*/
}
#contenitore_5 a:hover{
    filter: invert(50%);
}
/*pulsanti per spostarsi in altre pagine*/
.bot{
    text-decoration: none;
    font-family: serif;
    display: inline-block;
    border: thin solid rgb(255, 194, 108);
    background-color: rgb(70, 102, 109);
    border-radius: 7px; /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 10px 20px;  /*per aumentare quello che circonda il bottone*/
    color: rgb(255, 194, 108);
    font-size: 15px;
    cursor: pointer; /*facciamo uscire la manina*/
    transition: all .3s ease;
}

#contenitore_2 .bot{
    font-size: 20px;
    position: relative;
    width: 140px;
    text-align: center;
    top: 220px;
    left: 100px;
}

.row .bot{
    background-color: #184149;
    position: relative;
    text-align: center;
    left: 35%;
}

.bot:hover{
    border: thin solid #184149;
    background-color:rgb(245, 207, 154);
    color: #5D7A7F;
}

