body {
    background: #FFF0DA;
    margin: 0;
}

/* SLIDESHOW DELLA HOMEPAGE */
.slideshow-background {
  background-color: rgb(70, 102, 109); /* colore di sfondo alle immagini */
  position: relative;
  height: 550px;
}

.container {
  position: relative; /* la classe container è un riferimento per position */
  height: 500px;
  margin: 50px;
  padding-top: 25px;
  align-items: center;
}

.slider { /* slider conterrà le diverse slide con le immagini e il testo */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; /* posizione assoluta relativamente a container */
  border: solid 1px rgba(255, 194, 108, 0.8);
  border-radius: 10px;
  box-sizing: border-box; /* il bordo è applicato al content */
}

.slide { /* una singola slide contiene l'immagine e il testo */
  position: absolute; /* posizione assoluta relativamente a container */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; /* con le 4 istruzioni sovrastanti la slide prende tutto lo spazio possibile */
  opacity: 1; /* inizialmente è invisibile */
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* object-fit specifica come l'immagine deve essere ridimensionata per entrare in .slide, con cover l'immagine mantiene le sue proporzioni e riempie lo spazio assegnato con width e heigh. L'immagine viene tagliata se necessario */
}
.slide-text { /* questa classe si riferisce al testo presente sulle slide */
  position: absolute;
  width:500px;
  left: 8%;
  top: 32%;
  color: black;
  padding: 15px 0px; /* padding per distanziare il testo dal bordo */
  -webkit-text-stroke: 0.5px rgba(255, 194, 108); /* per aggiungere del bordo ai singoli caratteri, funziona solo con i broeser che la supportano */
  text-stroke: 2px (255, 194, 108); /* questa istruzione è utile per browser che non supportano l'istruzione precedente */
  text-align: center ;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Montserrat', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.3); /* Aggiunge uno sfondo sfumato bianco */
  border-radius: 15px; /* Aggiunge bordi arrotondati */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
}
#text-slide-1 {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3); /* Aggiunge uno sfondo meno sfumato */
}
#text-slide-3 {
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.7); /* Aggiunge uno sfondo meno sfumato */
}
@keyframes fade { /* animazione usata quando varia la slide dello slideshow, vedi JS */
  from {opacity: 0.4}
  to {opacity: 1}
}

.fixed-content {
  position: absolute;
  left: 17%;
  bottom: 20%; /* distanti dal fondo del contenitore */
  display: flex; /* allineati in riga */
  flex-direction: column;
  align-items: center;
}
.fixed-content p {
  font-family: 'Montserrat', sans-serif;
  color: rgba(255, 194, 108);
  font-weight: 600;
  font-size: 20px;
}
#ordina-ora-btn {
  width: 150px;
  font-family: 'Montserrat', sans-serif;

}

/*SECONDA SEZIONE della hompage, dedicata a suggerire azioni all'utente*/
#contenitore_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% 10%;
    font-family: lucida handwriting, Cursive;
    font-size: 20px;
}

#contenitore_2 p{
    color: rgb(255, 194, 108);
}
/*tre colonne che consigliano tre percorsi differenti per navigare nel sito*/
#sx2 {
    margin: 5px;
    border: 7px solid #385723;
    border-radius: 10px;
    background-image: url("media/home/mainSX.jpg");
    background-repeat:none;
    background-size: cover;
    width: 370px;
    height: 600px;
}
#frasesx{
    position: relative;
    top: 85px;
    left: 15px;
}
#cc2 {
    margin: 5px;
    border: 7px solid #ffffff;
    border-radius: 10px;
    background-image: url("media/home/mainCC.png");
    background-repeat:none;
    background-size: cover;
    width: 370px;
    height: 600px;
}
#frasecc{
    position: relative;
    top: 530px;
    left: 80px;
}
#dx2 {
    margin: 5px;
    border: 7px solid #C00000;
    border-radius: 10px;
    background-image: url("media/home/mainDX.png");
    background-repeat:none;
    background-size: cover;
    width: 370px;
    height: 600px;
}
#frasedx{
    text-align: right;
    position: relative;
    top: 380px;
    right: 15px;
}

/*TERZA SEZIONE della hompage, dedicata a mostrare la pasta della settimana*/
.row{
    box-sizing: border-box;
    background-color: #46666D;
    color:rgb(255, 194, 108);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*min-height: 300px;*/
    padding: 20px;
    width: 100%;
    margin: 5% 0%; /* margine per allinare */
}
/*descrizione testuale della proposta a sinistra dello schermo*/
#sx3{
    width: 700px;
}

#sx3 h2{
    font-weight: 100;
    font-family: lucida handwriting, Cursive;
}

#sx3 p{
    font-size: 20px;
}
/*immagine illustrativa a destra dello schermo*/
.row img{
    width: 400px;
    filter: drop-shadow(8px 8px 10px rgb(40, 40, 40)); /*crea l'ombra sotto la foto*/
}

/*QUARTA SEZIONE della hompage, dedicata a mostrare la le recensioni dei clienti*/
.recensioni{
    display:none;
    max-width: 500px;
    text-align: center;
    line-height: 1.3;/*aumenta la spaziatura tra le riche*/
    padding: 70px;
    border-style: double;
    border-color: rgb(255, 194, 108) #46666D rgb(255, 194, 108) #46666D;
}
/*QUINTA SEZIONE della hompage, dedicata a consigliare i nostri social*/
#contenitore_5{
    text-align: center;
    color: #46666D;
    font-weight: 900;
    padding: 20px;
    margin: 6% 0%; /* margine per allinare */
}

#contenitore_5 a{
    filter: invert(100%);
    text-decoration: none; /*per togliere gli effetti dei link*/
}
#contenitore_5 a:hover{
    filter: invert(50%);
}
/*pulsanti per spostarsi in altre pagine*/
.bot{
    text-decoration: none;
    font-family: serif;
    display: inline-block;
    border: thin solid rgb(255, 194, 108);
    background-color: rgb(70, 102, 109);
    border-radius: 7px; /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 10px 20px;  /*per aumentare quello che circonda il bottone*/
    color: rgb(255, 194, 108);
    font-size: 15px;
    cursor: pointer; /*facciamo uscire la manina*/
    transition: all .3s ease;
}

#contenitore_2 .bot{
    font-size: 20px;
    position: relative;
    width: 140px;
    text-align: center;
    top: 220px;
    left: 100px;
}

.row .bot{
    background-color: #184149;
    position: relative;
    text-align: center;
    left: 35%;
}

.bot:hover{
    border: thin solid #184149;
    background-color:rgb(245, 207, 154);
    color: #5D7A7F;
}
