body {
  margin: 0;
  font-family: "Goudy Old Style", sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  background-color: #F4DAB4;
  overflow-x: hidden;
  border-right: medium solid #E4A33F;     /*per la linea laterale della sidenav*/
}

.sidenav *{
  margin-left: 40px;
}

.piatti{      /*i singoli elementi*/
  border: 1px solid  #46666D;
  padding: 15px;
  border-radius: 70px;   /*per i bordi arrotondati*/
  text-align: center;
  background-color: #FFF0DA;
  margin: 20px;   /*per distaccare gli elementi dell'elenco*/
  font-size: 22px;
  color:  #46666D;
  text-decoration: none;
  display: block;   /*necessario perchè altrimenti il tag sarebbe inline */
}

h1 {
  color: #E4A33F;
}

.sidenav p{
  font-size: 20px;
  color: #46666D;
}

/* Change color on hover */
.piatti:hover {
  background-color: #46666D;
  color: #FFF0DA;
  border-color: #FFF0DA;
}

#componi{
  border: thin solid #FFC26C;
  background-color: #46666D;
  border-radius: 10px;   /*per i bordi arrotondati*/
  padding: 15px;    /*per aumentare quello che circonda il bottone*/
  margin-left: 60px;
  color: #FFC26C;
}