body{
    background-image: url("../../media/sfondo_accedi.jpg");
    background-repeat: no-repeat; /*non vogliamo che l'immagine si ripeta*/
    background-size: cover; /*coprire tutta lo sfondo con quell'immagine*/
    height: 100%;
    width: 100%;
}

h1,h2,h3{
    font-family: 'Times New Roman', 'serif';
    color: rgb(255, 194, 108);
    font-weight: 100;
}


ol{
    list-style-type: upper-roman;
    color: #FFC26C;
    margin-left: 35px;
}

