* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("../../media/sfondo_accedi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cell {
  background-color: RGBA(24, 65, 73, 0.85);
  border-radius: 50px;
  border: medium solid RGB(255, 194, 108);
  text-align: justify;
  display: flex;
  display: inline-block;
  overflow-x: hidden;
  padding: 20px;
  margin: 15% 15%;
}

.cell p, .cell ul {
  color: white;
  padding: 5px 20px;
}

.cell h1 {
  font-family: Times New Roman, serif;
  color: RGB(255, 194, 108);
  font-weight: 100;
  color: #FFC26C;
}

.cell h2, h3, h4 {
  font-family: Times New Roman, serif;
  color: RGB(255, 194, 108);
  font-weight: 100;
  font-weight: bold;
}
