body {
    margin: 0;
}

#rowUno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(244, 218, 180);
    border-bottom: 3px solid rgb(255, 192, 0);
}

#rowUno_leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(93, 122, 127);
}

#rowUno_leftside h1 {
    margin-bottom: 0px;
}

#rowUno_leftside div {
    margin-top: 25px;
}

#rowUno_rightside {
    
}

#sinGlu {        
    display: flex;
    max-width: 200px;
    border: thin solid rgb(255, 194, 108);
    background-color: rgb(70, 102, 109);
    border-radius: 7px;   /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 10px 12px;    /*per aumentare quello che circonda il bottone*/
    color: rgb(255, 194, 108);
    margin: 10px 0px;
    font-size: 15px;
    align-items: center;
}

#sinGlu p {
    margin: 0px;
}