body {
    margin: 0;
}

#rowUno {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(244, 218, 180);
}

#rowUno_leftside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#rowUno_rightside {
    
}
