/*decorazione di sfondo*/
body {
    background-image: url("../media/sfondo_accedi.jpg");
    background-repeat: no-repeat;     /*non voglio che l'immagine di sfondo si ripeta*/
    background-size: cover;     /*l'immagine si adatta allo sfondo*/
    margin: 0; /*per evitare che ci sia un margine intorno a tutti gli elementi*/
}

/*contenitore di tutti gli elementi*/
#row {
    box-sizing: border-box;
    background-color: rgba(24, 65, 73, 0.85);
    border-top: medium solid RGB(255, 194, 108); /* aggiungo un bordo superiore dorato */
    border-bottom: medium solid RGB(255, 194, 108); /* aggiungo un bordo inferiore dorato */
    display: flex;
    justify-content: center; /*allinea i contenuti al centro dello schermo*/
    padding: 20px;
    width: 100%; /*riempie tutta la larghezza disponibile*/
    min-height: 500px;
    margin: 5% 0%; /* margine per allinare */
}

#internal-row {
    min-width: 70%;
    display: flex;
    flex-direction: column;
}

/*PRIMA SEZIONE visionata, contiene il resoconto di tutto ciò che è stato 
inserito nel carrello in una tabella che mostra anche il totale della spesa*/
#tabella-carrello {
    width: 100%; /*occupa in larghezza tutto lo spazio disponibile*/
}

#sezione2, #sezione3 {/*le sezioni successive alla prima non devono essere visibili al caricamento della corrente*/
    display: none;
}

#row ul {/*elenco che simbileggia la sezione corrente nella pagina*/
    display: flex; /*mostra le voci in orizzontale*/
    justify-content: space-between;/*allinea l'elenco con dello spazio tra le voci*/
    list-style-type: none; /*non mostra i punti di elenco*/
    margin: 0;
    padding: 0;
}
  
#row li{
    font-size: 35px;
    font-family: 'Montserrat', serif;
    color: #FFC26C;
}

/*tabella*/
table{
    padding: 20px;
}

th{
    color: #FFC26C;
}

td{
    color: rgb(245, 245, 245);
    text-align: center; /*allineamento dei testi nelle celle al centro delle colonne*/
}

tr:nth-child(even) {/*seleziona le righe di numero pari della tabella*/
    background-color: rgb(47, 94, 104);
}
 
#bottoni{
    display: flex;
    justify-content: space-between; /*allineare i bottoni ai lati opposti dello schermo*/
}

/*SECONDA SEZIONE visionata, presenta la scelta di tre diverse spedizioni*/
.spiegazione{
    color: whitesmoke;
    max-width: 800px;
}

#sezione2 {
    flex-direction: column; /*allinea gli elementi uno sotto l'altro*/
    align-items: center;
}

#tipi_spedizione{
    display: flex;
    flex-wrap: wrap;/*sposta gli elementi uno sotto l'altro se si rimpicciolisce la finestra*/
    align-items: center;
    color:rgba(24, 65, 73);
    margin: 20px 80px;
}

input[type=radio] {
    display: none; /*nasconde i "cerchietti" dei radio button che sono poi "ricreati in CSS con uno stile più calzante al resto della pagina"*/
}

label h1:before {
    content: ''; /*inserisce un contenuto vuoto prima delle scritte dei vari radio buttons, questo contenuto vuoto sostituisce il "cerchietto" precedentemente rimosso*/
    /*i seguenti righi danno uno stile al contenuto inserito*/
    border-radius: 6px; /*arrotonda il contenuto*/
    border: 1px solid rgb(24, 65, 73); /*il contenuto ha un bordo ma non un background, in questo modo replica l'idea del radio button non selezionato*/
    width: 15px; /*definisce la larghezza del contenuto*/
    height: 15px; /*definisce la larghezza del contenuto*/
    margin: 0px 5px; /*definisce margine nullo verticalmente ma presente in orizzontale in modo da distanziare il contenuto dal testo a esso legato*/
    display: inline-block; /*per permettere alle modifiche relative a larghezza e altezza di avere effetto*/
}

label input:checked+h1:before{
    /*quando l'input è checked da un background color al contenuto inserito*/
    background-color: rgb(70, 102, 109);
}

.proposta_sp{ /*colonne che mostrano i droni*/
    text-align: center;
    background-color: #FFC26C;
    margin: 10px;
    border-radius: 70px; /*angoli smussati*/
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;/*allinea gli elementi all'interno in verticale*/
    align-items: center;
}

.slogan{
    color:#5D7A7F;
    width: 200px;;
}

#sp_lampo{
    border: 10px solid crimson; /*bordo alla colonna cetrale per darle rilevanza*/
    height: 550px;
}

/*TERZA SEZIONE visionata, conferma che l'ordine è riuscito correttamente*/
#sezione3{
    flex-direction: column;/*allinea gli elementi in verticale*/
    align-items: center;
}





















/*pulsanti per spostarsi avanti e indietro nel carrello*/
.bottone_primario {
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat';
    display: inline-block;
    border: thin solid rgb(255, 194, 108);
    background-color: rgb(70, 102, 109);
    border-radius: 7px; /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 10px 20px;  /*per aumentare quello che circonda il bottone*/
    color: rgb(255, 194, 108);
    font-size: 15px;
    cursor: pointer; /*facciamo uscire la manina*/
    transition: all .3s ease;
}

#bottone_secondario {
    text-decoration: none;
    font-family: 'Montserrat';
    display: inline-block;
    border: thin solid rgb(255, 194, 108);
    border-radius: 7px; /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 10px 20px;  /*per aumentare quello che circonda il bottone*/
    color: rgb(255, 194, 108);
    font-size: 15px;
    cursor: pointer; /*facciamo uscire la manina*/
    transition: all .3s ease;
}

.bottone_primario:hover, #bottone_secondario:hover{
    border: thin solid #184149;
    background-color:rgb(245, 207, 154);
    color: #5D7A7F;
}

#final_button {
    display: none;
}

#totale {
    text-align: right;
    color: #FFC26C;
    margin-left: 40px;
    margin-right: 40px;
}