* {
    margin: 0;
}

body{
    background-image: url("../media/sfondo_accedi.jpg");
    background-repeat: no-repeat; /*non vogliamo che l'immagine si ripeta*/
    background-size: cover; /*coprire tutta lo sfondo con quell'immagine*/
    height: 100%;
    width: 100%;
}

form{
    background-color: rgba(24, 65, 73, 0.85);
    border-radius: 50px;
    border: medium solid rgb(255, 194, 108);
    margin: 3% 15%;
    display: flex;
    display: inline-block;
    overflow-x: hidden;
    padding: 20px;
}

fieldset{
    border: 0;
}
h1{
    font-family: Times New Roman, serif;
    color: RGB(255, 194, 108);
    text-align: center;
    font-weight: 100;
}

legend{
    color: RGB(255, 194, 108);
}

input{
    background-color: #5D7A7F;
    color: whitesmoke;
    margin: 2px;
    font-size: 25px;
}

.name-field,.password-field,.indirizzoSpec-field{
    width: 49%;
}

.indirizzo-field{
    width: 32.5%;
}

#submit-field{
    margin: 0 auto;
}

#informativa{
    color: whitesmoke;
    margin: 10px;
}