* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url("../media/sfondo_accedi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    background-color: RGBA(24, 65, 73, 0.85);
    border-radius: 50px;
    border: medium solid RGB(255, 194, 108);
    margin: 15% 15%;
    display: flex;
    display: inline-block;
    overflow-x: hidden;
    padding: 20px;
}

fieldset{
    border: 0;
}
h1{
    font-family: Times New Roman, serif;
    color: RGB(255, 194, 108);
    text-align: center;
    font-weight: 100;
}

legend{
    color: RGB(255, 194, 108);
}

input{
    background-color: #5D7A7F;
    color: whitesmoke;
    margin: 2px;
    font-size: 25px;
}

.name-field,.password-field,.indirizzoSpec-field{
    width: 49%;
}

.indirizzo-field{
    width: 32.5%;
}

#submit-field{
    margin: 0 auto;
}

#informativa{
    color: whitesmoke;
    margin: 10px;
}