* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
  background: #F4DAB4;      /*colore di sfondo alla schermata*/
}

/*questo div nasce con l'esigenza di non entrare in costrasto con header e footer e avere sempre container posizionato al centro*/
.fullbody {
  display: flex;
  justify-content: center;    /*posiziono al centro sull'asse orizzontale il suo contenuto*/
}

.container {
  width: 70vw;    /*larghezza corrispondente al 70% della larghezza della finestra del browser anche in caso di ridimensionamento*/
  min-width: 470px;     /*larghezza minima per cui il ridimensionamento del container è ammesso*/
  height: 540px;   /*altezza del container*/
  background: #46666D;    /*colore di sfondo*/
  border-radius: 120px;   /*arrotondo i bordi del div*/
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);   /*per applicare un'ombra ai bordi*/
  overflow: hidden;   /*voglio che in caso di overflow, esso sia nascosto*/
  display: flex;
  margin: 3% 0;   /*margine top bottom*/
}

/*div che rappresenta la colonna di sx da cui selezionare le voci*/
.columnside {
  flex: 2;      /*spazio occupato dalla colonna di sinistra rispetto a container*/
  -webkit-flex: 2;
  -ms-flex: 2;
  background-color: rgb(24, 65, 73);      /*colore alla colonna*/
  border-right: thin solid #E4A33F;     /*bordo di destra della colonna*/
  display: flex;
  flex-direction: column;     /*i div devono essere disposti per colonne*/
  justify-content: center;      /*i div interni saranno centrati lungo l'asse principale (quello verticale in questo caso)*/
  text-align: center;     /*per allineare al centro il bottone per effettuare Logout*/
}

/*per il tag che ti da il benvenuto con la tua email*/
.columnside p {
  color: rgb(255, 194, 108);    /*per impostare un colore*/
  text-align: center;       /*allineato al centro*/
  font-size: x-large;     /*aumento le dimensioni del font*/
}

/*i singoli elementi della colonna di sx*/
.selezione {
  padding: 10px;      /*padding per ciascun div*/
  text-align: center;   /*testo allineato al centro*/
  font-size: 22px;      /*per settare la dimensione del font*/
  color: #FFF0DA;     /*colore del font*/
  margin: 10px 0;     /*un margine tra un div e il successivo*/
  display: block;   /*necessario perchè altrimenti il tag sarebbe inline */
  cursor: pointer;      /*al click sul div, il cursore si trasforma in una mano*/
}

/*l'input di tipo submit del form della colonna di sx*/
#logout {
  border: none;     /*nessun bordo visibile*/
  border-radius: 50px;      /*angoli arrotondati*/
  background: rgb(255, 194, 108);     /*colore di sfondo al pulsante di login*/
  color: #FFF0DA;     /*colore al testo interno*/
  font-size: large;     /*dimensione del testo*/
  width: 130px;     /*larghezza del bottone*/
  height: 50px;     /*altezza del bottone*/
  margin: 15px 0;       /*margine top-bottom*/
  cursor: pointer;      /*il cursore diventa la manina*/
}

/*all'hover cambia il colore del bottone per accedere*/
#logout:hover {
  background: #46666D;
}

/*la colonna di destra*/
.account_content{
  flex: 3;        /*spazio occupato dalla colonna di dx rispetto al container*/
  -webkit-flex: 3;
  -ms-flex: 3;
  display: flex;
  align-items: center;      /*elementi allineati al centro sull'asse trasversale (verticale)*/
  font-size: 20px;        /*dimensione del font*/
  color:#FFF0DA;      /*colore del font*/
}

/*il spezione lo span è quello che ti permette di passare alla schermata per modificare il tuo indirizzo*/
#Spedizione p span{
  opacity: 0.7;   /*di default il colore è opacizzato*/
  color: rgb(255, 194, 108);      /*applico un colore ai tag a*/
  cursor: pointer;      /*il cursore diventa una manina*/
}

/*al passaggio del mouse sull'elemento span*/
#Spedizione p span:hover{
  opacity:1;    /*con l'hover si riporta alla tonalità originale*/
}

/*ciascun div della classe sezione avrà un margine laterale*/
.sezione{
  margin: 0 20px;     
}

/*titoli di ciascuna sezione*/
.sezione h1{
  font-size: 30px;      /*dimensione del font*/
  color: rgb(255, 194, 108);      /*colore del font*/
  margin: 0;        /*nessun margin*/
}

/*gli elementi in questo div (ossia la descrizione del campo e i valori di sessione) si wrappano se necessario*/
.span-element{
  display: flex;
  flex-wrap: wrap;
}

/*per i campi immodificabili, che risiedono in uno span interno a span-element*/
.unmodified_info{
  font-size: 19px;
  color: rgb(255, 194, 108); 
}

/*sono i campi di input modificabili (cambio password/indirizzo)*/
.input-field{
  display: block;
  margin: 5px 0;      /*top-bottom per distanziare tra loro gli input del form*/
  height: 50px;     /*setto un'altezza*/
  margin: 8px 0;     /*margine top-bottom*/
  border: 2px solid #184149;    /*bordo al div*/
  border-radius: 50px;      /*per i bordi arrotondati*/
  display: flex;
  background: transparent;      /*gli input devono avere background trasparente*/
  font-size: 15px;      /*dimensione del testo negli input*/
  color: #FFF0DA;     /*colore del testo che viene inserito negli input*/
  padding: 15px;      /*per non scrivere esattamente accanto al bordo del campo di input*/
}

.input-field:focus {
  outline: 2px solid rgb(255, 194, 108); /*al focus, il cambio il colore del bordo(outline) di input*/
}

/*bottoni sia di aggiorna password che di indirizzo*/
.buttons {
    box-sizing: border-box; /*con questa proprietà si ha più controllo sulla dimensione dei bottoni*/
    display: inline-block; /*con questa proprietà si ha più controllo sulla dimensione dei bottoni*/
    border: thin solid rgb(255, 194, 108); /*bordo dorato*/
    background-color: #184149;
    border-radius: 7px; /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 15px 25px; /*per dare volume al bottone*/
    color: rgb(255, 194, 108); /*colore del testo uguale a quello del bordo*/
    font-size: 13px; /*scelta della dimensione del testo*/

    cursor: pointer; /*fa uscire la "manina"*/
    transition: all .6s ease; /*rende l'animazione di hover più smooth*/
}

.buttons:hover {
    /*al passaggio del mouse il colore del bordo, dello sfondo e del testo dei bottoni cambia
    in modo da renderli visivamente responsivi*/
    border: thin solid #184149;
    background-color: #FFF0DA;
    color: #5D7A7F;
}

/*feedback all'utente in caso di compilazione dei form di cambio password/indirizzo*/
.alert {
  text-align: left;     /*allineo il testo al centro*/
  margin: 15px 0;   /*margin top-bottom*/
  font-size: 18px;      /*grandezza del font*/
  color: rgb(255, 255, 102);    /*colore luminoso per segnalare l'errore*/
}

@media (max-width: 800px) {
  /*sotto una determinata soglia, la descrizione di ciascuna sezione sparisce*/
    .sezione .brief-description {
      display: none;
    }
}

@media (max-width: 1000px){
  /*sotto una soglia ancora superiore gli elementi di .alert non risultano più visibili*/
  .alert {
    display: none;
  }
}

@media (max-width: 1400px){
  /*sotto una soglia ancora superiore il mex di benvenuto con la tua email sparisce*/
  .columnside p{
    display: none;
  }
}