* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
height: 100vh; /*il body così occupa l'intera altezza della finestra */
background: #F4DAB4;      /*colore di sfondo analogo alle altre pagine del sito*/
}

/*fullbody contiene tutto eccetto la navbar*/
.fullbody {
display: flex;
align-items: center;
justify-content: center;
}

/*div che rappresenta la base del base del contenuto del box*/
.container {
margin-top: 50px;
width: 80vw;    /*rispetto alla larghezza della finestra del browser*/
height: 80vh;     /*rispetto all'altezza della finestra del browser*/
background: #46666D;
border-radius: 150px;
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
overflow: hidden;
}

/*un div che contiene leftpanel - con l'immagine- e il form*/
.panel {
margin: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content:space-between;
}

form {
display: flex;
flex-direction: column;
align-items: center;    /*per gli elementi - quali tag h2 e p*/
width: 30%;   /*rispetto a panel*/
padding: 0 10px;
}

form h2 {
color: rgb(255, 194, 108);
margin-bottom: 10px;
font-size: 40px;
}

.input-field {
width: 90%;
height: 50px;
margin: 10px 0;
border: 2px solid #184149;
border-radius: 50px;
display: flex;
align-items: center;
}

.input-field span {
flex: 1;
text-align: center;
}

.input-field input {
flex: 5;
background: none;   /*non voglio sia visibile il campo di input*/
border: none;   /*non voglio sia visibile il bordo del campo di input*/
outline: none;    /*non voglio che al click sul campo sia visibile la linea di contorno*/
font-size: 20px;
color: #FFF0DA;
}

#login {
border: none;
border-radius: 50px;
background: rgb(255, 194, 108);
color: #FFF0DA;
font-weight: 600px;
width: 130px;
height: 50px;
margin: 15px 0;
cursor: pointer;
}

#login:hover {
background: #184149;
}

#iscriviti {
font-size: 20px;
color: #FFF0DA;
}

#iscriviti a{
opacity: 0.7;   /*di default il colore è opacizzato*/
text-decoration: none;
color: rgb(255, 194, 108);
}

#iscriviti a:hover{
opacity:1;    /*con l'hover si riporta alla tonalità originale*/
}

.leftpanel {
position: relative;
width: 70%;
height: 100%;
overflow: hidden;
z-index: 0; /* Assicura che l'immagine sia dietro i testi */
}

.content {
position: absolute;   /*posizione assoluta rispetto a leftpanel ossia il padre*/
left: 5%;
top: 50%;
translate: 0 -50% 0;  /*l'elemento viene spostato del 50% vers l'alto in modo da centrarlo verticalmente rispetto a leftpanel*/
max-width: 25%;
z-index: 1;
}

.leftpanel p {
font-size: 24px;
padding: 10px 0;
color: #FFF0DA;
}

.leftpanel img {
width: 100%; /*per occupare tutto leftpanel*/
height: 100%;
object-fit: cover; /*l'immagine non subisce alterazioni */
}

.leftpanel h3{
font-size: 50px;
font-weight: bold;
color: rgb(255, 194, 108);
}

.alert {
width: 70%;
text-align: center;
font-size: 20px;
color: rgb(255, 255, 102);
}

@media(max-width: 1400px){
.leftpanel p {
  display: none;
}

.leftpanel h3{
  font-size: 45px;
  max-width: 10%;
}

form{
  min-width: 40%;
}
}

@media(max-width: 1000px){
.leftpanel{
  display: none;
}

form{
  width: 100%;
}
}
