/*decorazione di sfondo*/
body {
    background-image: url("../../media/sfondo_accedi.jpg");
    background-repeat:repeat-y;
    background-size: cover;
    margin: 0;
    width: 100%;
}

/*contenitore di tutti gli elementi*/
#row {
    box-sizing: border-box;
    background-color: rgba(24, 65, 73, 0.85);
    border-top: medium solid RGB(255, 194, 108); /* aggiungo un bordo superiore dorato */
    border-bottom: medium solid RGB(255, 194, 108); /* aggiungo un bordo inferiore dorato */
    display: flex;
    flex-direction: column;         /*!! non display: inline-block perchè entrano in contrasto, bensì flex-direction:column*/
    padding: 20px;
    width: 100%;/*questo non funziona bene*/
    margin: 5% 0%; /* margine per allinare */
}
/*
ul.a {
    list-style-type: circle;
}
*/
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li{
    display: inline-block;
    font-size: 35px;
    font-family: Times New Roman, serif;    
    font-weight: 100;
    color: #FFC26C;
}

/*tabella*/
table{
    padding: 20px;
}

th{
    color: #FFC26C;
}

td{
    color: rgb(245, 245, 245);
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(47, 94, 104);
}
 
#bottoni{
    display: flex;
    justify-content: space-between;
}

/*pulsanti per spostarsi avanti e indietro nel carrello*/
#bottone_primario {
    text-decoration: none;
    font-family: serif;
    display: inline-block;
    border: thin solid rgb(255, 194, 108);
    background-color: rgb(70, 102, 109);
    border-radius: 7px; /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 10px 20px;  /*per aumentare quello che circonda il bottone*/
    color: rgb(255, 194, 108);
    font-size: 15px;
    cursor: pointer; /*facciamo uscire la manina*/
    transition: all .3s ease;
}

#bottone_secondario {
    text-decoration: none;
    font-family: serif;
    display: inline-block;
    border: thin solid rgb(255, 194, 108);
    border-radius: 7px; /*per i bordi arrotondati*/
    -webkit-border-radius: 7px; /*per i bordi arrotondati su safari*/
    padding: 10px 20px;  /*per aumentare quello che circonda il bottone*/
    color: rgb(255, 194, 108);
    font-size: 15px;
    cursor: pointer; /*facciamo uscire la manina*/
    transition: all .3s ease;
}

#bottone_primario:hover, #bottone_secondario:hover{
    border: thin solid #184149;
    background-color:rgb(245, 207, 154);
    color: #5D7A7F;
}
  