body * {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
  background: #F4DAB4;      /*colore di sfondo analogo alle altre pagine del sito*/
}

/*questo div nasce con l'esigenza di non entrare in costrasto con header e footer e avere sempre container posizionato al centro*/
.fullbody {
  display: flex;
  justify-content: center;    /*posiziono al centro sull'asse orizzontale il suo contenuto*/
}

/*contiene i due div che andranno affiancati (leftpanel + rightpanel)*/
.container {
  width: 85vw;    /*larghezza corrispondente all'85% della larghezza della finestra del browser anche in caso di ridimensionamento*/
  height: 770px;   /*altezza corrispondente a 800px*/
  background: #46666D;    /*colore di sfondo*/
  border-radius: 120px;   /*arrotondo i bordi del div*/
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);   /*per applicare un'ombra ai bordi*/
  display: flex;
  align-items: center;              /*allineo al centro in senso verticale (per il rightpanel)*/
  margin: 3% 0;      /*margine top-bottom*/
}

/*per segnare lo spazio occupato dal rightpanel rispetto al container*/
.rightpanel{
  flex: 3;      
  -webkit-flex: 3;
  -ms-flex: 3;
}

/*per tutti i figli diretti di right panel - dunque h2, p e form*/
.rightpanel > *{
  display: flex;
  flex-direction: column;     /*gli elementi del div (h2, form e p) disposti per colonne*/
  align-items: center;    /*voglio che siano allineati al centro rispetto all'asse trasversale (verticale)*/
}

.rightpanel h2 {
  color: rgb(255, 194, 108);    /*colore alla scritta*/
  margin-bottom: 10px;    /*margine inferiore*/
  margin-top: 0;
  font-size: 40px;      /*rendo più grande*/
}

.input-field {
  width: 90%;     /*larghezza max del div contenente i campi di input e l'icona rispetto a form*/
  height: 50px;     /*setto un'altezza*/
  margin: 10px 0;     /*margine top-bottom*/
  border: 2px solid #184149;    /*bordo al div*/
  border-radius: 50px;      /*per i bordi arrotondati*/
  display: flex;
  align-items: center;      /*per allineare al centro verticalmente le icone nel div*/
}

/*negli span sono contenute le icone (img) da disporre al centro*/
.input-field span {
  flex: 1;      /*specifico lo spazio che lo span debba occupare rispetto al div input-field*/
  -webkit-flex: 1;
  -ms-flex: 1;
  color: rgb(255, 194, 108); /*colore all'icona*/
  text-align: center;     /*per l'icona*/
}

.input-field input {
  flex: 5;    /*specifico lo spazio che il campo di input debba avere rispetto al div input-field*/
  -webkit-flex: 5;
  -ms-flex: 5;
  background: none;   /*non voglio sia visibile il campo di input*/
  border: none;   /*non voglio sia visibile il bordo del campo di input*/
  outline: none;    /*non voglio che al click sul campo sia visibile la linea di contorno*/
  font-size: 20px;    /*setto una dimensione del campo di input*/
  color: #FFF0DA;     /*per il colore quando digiti nel campo di input*/
}

#login {
  border: none;     /*nessun bordo visibile*/
  border-radius: 50px;      /*angoli arrotondati*/
  background: rgb(255, 194, 108);     /*colore di sfondo al pulsante di login*/
  color: #FFF0DA;     /*colore al testo interno*/
  font-size: large;     /*dimensione del testo*/
  width: 130px;     /*larghezza del bottone*/
  height: 50px;     /*altezza del bottone*/
  margin: 15px 0;       /*margine top-bottom*/
  cursor: pointer;      /*il cursore diventa la manina*/
}

/*all'hover cambia il colore del bottone per accedere*/
#login:hover {
  background: #184149;
}

/*un tag p che ti invita ad iscriverti*/
#iscriviti {
  font-size: 18px;    /*dimensione del testo*/
  color: #FFF0DA;     /*colore del testo*/
}

#switch_button{
  background: none;   /*non voglio sia visibile lo sfondo*/
  border: none;   /*nessun contorno*/
  outline: none;    /*non voglio che al click sia visibile la linea di contorno*/
  color: rgb(255, 194, 108);      /*applico un colore*/
  opacity: 0.7;     /*in generale il colore è leggermente opacizzato*/
  font-size: 20px;    /*setto una dimensione al testo*/
}

#switch_button:hover{
  opacity:1;    /*con l'hover si riporta alla tonalità originale*/
}

/*per segnare lo spazio occupato dal leftpanel rispetto al container*/
.leftpanel {
  position: relative;
  flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  height: 100%;   /*altezza del 100% rispetto al container*/
}

.content {
  position: absolute;
  left: 5%;         /*distanza dal bordo sinistro rispetto a leftpanel, il suo genitore*/
  top: 47%;         /*distanza dal bordo in alto rispetto a leftpanel, il suo genitore*/
  translate: 0 -50% 0;  /*l'elemento viene spostato del 50% vers l'alto in modo da centrarlo verticalmente rispetto a leftpanel*/
  max-width: 25%;     /*massima larghezza di content*/
}

/*descrizione dello slogan*/
.leftpanel p {
  font-size: 22px;      /*dimensione del testo*/
  color: #FFF0DA;   /*colore del testo*/
}

.leftpanel img {
  width: 100%; /*per occupare tutto leftpanel*/
  object-fit: cover; /*l'immagine non subisce alterazioni */
  border-top-left-radius: 120px;     /*arrotondo bordo sx in alto dell'img*/
  border-bottom-left-radius: 120px;    /*arrotondo bordo sx in basso dell'img*/
}

/*slogan d'effetto*/
.leftpanel h1{
  font-size: 50px;      /*grandezza del font*/
  color: rgb(255, 194, 108);      /*colore del testo*/
}

/*feedback agli utenti*/
.alert {
  text-align: center;     /*allineo il testo al centro*/
  font-size: 18px;      /*grandezza del font*/
  margin: 10px 3px;      /*un margine ai messaggi di feedback agli utenti*/
  color: rgb(255, 255, 102);    /*colore luminoso per segnalare l'errore*/
}

@media(max-width: 1500px){
  .leftpanel p {
    display: none;      /*sotto una determinata larghezza della finestra la descrizione dello slogan scompare*/
  }

  /*h1 diventa più piccola a livello di font ed occupa meno spazio*/
  .leftpanel h1{
    font-size: 45px;
    max-width: 10%;
  }

  /*il form occupa più spazio*/
  .container form{
    min-width: 40%;
  }
}

@media(max-width: 1000px){
  .leftpanel{     /*sotto una determinata larghezza della finestra scompare completamente l'immagine e il div di sinistra*/
    display: none;
  }

  .container form{       /*il form occupa tutto il container*/
    width: 100%;
  }
}
