body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* per metterla a tutta la pagina */
  justify-content: center;
  align-items: center;
  background-color: #FFF0DA;
}

/* per lo slider */
.radio {
  display: none; /* rendo i radio button invisibili */
}

/* per applicare uno sfondo colorato allo slider */
.background-container {
  margin-top: 30px;
  background-color: #46666D; /* colore di sfondo alle immagini */
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center; /*per allineare verticalmente al centro*/
  justify-content: center; /*per allineare orizzontalmente al centro*/
}

/* slider conterrà le diverse slide con le immagini e il testo */
.slider {
  height: 500px;
  width: 65%;
  position: relative; /* posizione relativa per posizionamento componenti assoluti */
  border: solid 1px rgba(255, 194, 108, 0.8);
  box-sizing: border-box; /* il bordo è applicato al content */
}

 /* una singola slide contiene l'immagine e il testo */
.slide {
  width: 100%;
  height: 100%;
  display: none; /* di base sono invisibili */
  top: 0;
  left: 0; /* con le 4 istruzioni sovrastanti la slide prende tutto lo spazio possibile */
  animation-name: fade; /* nome dell'animazione applicata */
  animation-duration: 2s; /* durata dell'animazione */
  animation-iteration-count: 1; /* l'animazione è riptuta una volta */
}
/* animazione usata quando varia la slide dello slideshow, vedi JS */
@keyframes fade { 
  from {opacity: 0.4} /* modifica l'opacità da 0.4 a 1 rendendo la slide visibile */
  to {opacity: 1}
}

/* le immagini occupano tutto lo spazio della slide */
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* object-fit specifica come l'immagine deve essere ridimensionata per entrare in .slide, con cover l'immagine mantiene le sue proporzioni e riempie lo spazio assegnato con width e heigh. L'immagine viene tagliata se necessario */
}

 /* questa classe si riferisce al testo presente sulle slide */
.slide-text {
  position: absolute; /* queste istruzioni servono per posizionare il testo */
  width: 35%;
  right: 5%;
  top: 10%;
  height: auto;
  color: white;
  background-color: rgba(24, 65, 73, 0.7); /* applico un colore al background */
  border-radius: 50px;  /* rendo gli spigoli curvi */
  border: medium solid rgba(255, 194, 108, 0.8); /* aggiungo un bordo dorato */
  box-shadow:  2px 5px 5px rgba(0, 0, 0, 0.3); /* aggiunge una leggere afocatura all'immagine */
  padding: 15px 20px; /* padding per distanziare il testo dal bordo */
  font-size: 15px;
  font-family: 'Montserrat', Courier, monospace;
}

 /* titolo del testo nella slide */
.slide-text h1 {
  color: rgb(255, 194, 108);
  margin: 0;
}
/* rimpicciolisce il font quando lo schermo si rimpicciolisce */
@media(max-width: 750px) {
  .slide-text {
    font-size: 11px;
  }
}

/* questa classe è un blocco che contiene le label che si riferiscono ai radio button per la selezione della slide, utile per assegnare uno stile ai bottoni */
.dots {
  width: 100%;
  position: absolute;
  bottom: 5%; /* distanti dal fondo del contenitore */
  display: flex; /* allineati in riga */
  justify-content: center; /* centrati */
}

/* questo selettore serve per assegnare dello stile ai bottoni radio */
.dots label {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 194, 108);
  margin: 0 10px;
  border-radius: 50%; /* li rendo rotondi */
  opacity: 0.7; /* di base il radio button è opaco */
  cursor: pointer;
}

/* per il testo all'interno della pagine */

.middle-page-text {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

h2{
  color:rgba(24, 65, 73, 0.8);
  text-align: center;
}

/* Per il grid container delle immagini */

div.grid-img-container {
  margin: 35px auto; /* aggiunge il margine per allontanare da altri elementi e dal bordo dello schermo */
  margin-bottom: 145px; /* margine in basso per distanziare dal footer */
  height: 300px; /* la dimensione è impostata per contenere le immagini */
  width: 600px; /* la dimensione è impostata per contenere le immagini */
  display: grid; /* utilizzo un display grid per posizionare le immaigni */
  grid-template-areas: /* specifico come le immagini sono disposte nella griglia */
    'img1 img2 img3'
    'img4 img4 img3';
  gap: 8px; /* distanza tra le immagini */
}
/* quando la pagina diventa più piccola rende invisibili il titolo e il grid */
@media(max-width: 700px) {
  div.grid-img-container,
  #grid-title {
    display: none;
  }
}

/* le successive istruzioni servono per assegnare gli id alle aree del grid template ai grid items */
#grid-item1 {
  grid-area: img1;
}

#grid-item2 {
  grid-area: img2;
}

#grid-item3 {
  grid-area: img3;
}

#grid-item4 {
  grid-area: img4;
}

/* stile applicato alle immagini contenute nmel grid-item */
div.grid-item img {
  object-fit: cover;
}

/* Poiché nel grird-template è presente un gap le immagini più larghe non coincidono con la dimensione necessaria dunque modifico la loro dimensione */
#img3 {
  height: 100%;
}

#img4 {
  width: 100%;
}

div.grid-item:hover img {
  filter: grayscale(100%); /* quando si passa col cursore sull'immagine questa diventa grigia */
}

/* questa classe è applicata ad un div che contiene il testo che compare sull'immagine, è utile per rendere visibile o invisibile il testo */
.overlay {
  opacity: 0; /* di base è invisibile */
}

div.grid-item:hover .overlay {
  opacity: 1; /* quando si passa col cursore sull'immagine il testo diventa visibile */
}

/* grid-item è una classe applicata a ciascun div che contiene le immagini nella griglia */
div.grid-item {
  display: flex;
  transition: 0.5s ease; /* questa istruzione specifica che il div si solleva in mezzo secondo quando il cursore vi passa sopra */
  box-shadow: 3px 3px 4px rgba(0,0,0,0.6); /* applica una ombra opaca di 2px a detra e in basso che si "blurra" per 3px */
}

div.grid-item:hover { /* istruzioni applicate quando si passa il cursore sulle immagini */
  box-shadow: 6px 6px 6px rgba(0,0,0,0.6); /* viene applica un'ombra all'immagine più spessa */
  transform: scale(1.2); /* l'immagine viene ingrandita */
  z-index: 1; /* trasla l'immagine al di sopra di tutto */
}

/* questa classe è applicata ai paragrafi di testo che compaiono sulle immagini*/
.testoImg {
  font-family: "Goudy Old Style", sans-serif;
  color: rgb(255, 194, 108);
  -webkit-text-stroke: 0.5px black; /* per aggiungere del bordo ai singoli caratteri, funziona solo con i broeser che la supportano */
  text-stroke: 2px black; /* questa istruzione è utile per browser che non supportano l'istruzione precedente */
  font-size: 14pt;
  font-weight: 900;
  text-align: center;
  user-select: none; /* non permette all'utente di selezionare il testo */
  background-color: rgba(255, 255, 255, 0.4); /* Aggiunge uno sfondo sfumato bianco */
  border-radius: 10px; /* Aggiunge bordi arrotondati */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.9); 
  width: 90%; /* questa istruzione assegna una larghezza al paragrafo */
  position: absolute; /* posizione assolita rispetto a grid-item */
  top: 25%; /* queste istruzioni servono per centrare il testo all'interno delle immagini più piccole del grid template */
  left: 5%;
}

/* queste istruzioni servono per centrare il testo per le immagini più grandi */
#testoImg3,
#testoImg4 {
  top: 35%; 
  left: 5%;
}
