body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  height: 100vh; /* per metterla a tutta la pagina */
  width: 100vw;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background-color: #FFF0DA;
}

/* per lo slider */
.radio {
  display: none; /* rendo i radio button invisibili */
}

.background-container {
  background-color:  rgb(24, 65, 73); /* colore di sfondo alle immagini */
  position: relative;
  height: 500px;
}

.container {
  position: relative; /* la classe container è un riferimento per position */
  max-width: 800px;
  height: 500px;
  margin: 10px auto;
}

.slider { /* slider conterrà le diverse slide con le immagini e il testo */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; /* posizione assoluta relativamente a container */
  border: solid 1px rgba(255, 194, 108, 0.8);
  box-sizing: border-box; /* il bordo è applicato al content */
}

.slide { /* una singola slide contiene l'immagine e il testo */
  position: absolute; /* posizione assoluta relativamente a container */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; /* con le 4 istruzioni sovrastanti la slide prende tutto lo spazio possibile */
  opacity: 0; /* inizialmente è invisibile */
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* object-fit specifica come l'immagine deve essere ridimensionata per entrare in .slide, con cover l'immagine mantiene le sue proporzioni e riempie lo spazio assegnato con width e heigh. L'immagine viene tagliata se necessario */
}
.slide-text { /* questa classe si riferisce al testo presente sulle slide */
  position: absolute; /* queste istruzioni servono per posizionare il testo */
  width: 30%;
  right: 5%;
  top: 10%;
  bottom: 10%;
  color: white;
  background-color: rgba(24, 65, 73, 0.4); /* applico un colore al background */
  border-radius: 50px;  /* rendo gli spigoli curvi */
  border: medium solid rgba(255, 194, 108, 0.8); /* aggiungo un bordo dorato */
  padding: 15px 20px; /* padding per distanziare il testo dal bordo */
  font-weight: 700;
  font-size: 11px;
  text-align: left;
  font-family: 'Montserrat', Courier, monospace;
}
.slide-text strong { /* titolo del testo nella slide */
  color: rgb(255, 194, 108);
  font-size: 18px;
}
@media(max-width: 900px) { /* rimpicciolisce il font quando lo schermo si rimpicciolisce */
  .slide-text {
    font-size: 9px;
  }
}

.dots { /* questa classe è un blocco che contiene le laber che si riferiscono ai radio button per la selezione della slide, utile per assegnare uno stile ai bottoni */
  width: 100%;
  position: absolute;
  bottom: 5%; /* distanti dal fondo del contenitore */
  display: flex; /* allineati in riga */
  justify-content: center; /* centrati */
}

.dots label { /* questo selettore serve per assegnare dello stile ai bottoni radio */
  width: 15px;
  height: 15px;
  background-color: rgb(255, 194, 108);
  margin: 0 10px;
  border-radius: 50%; /* li rendo rotondi */
  opacity: 0.7; /* di base il radio button è opaco */
}

@keyframes fade { /* animazione usata quando varia la slide dello slideshow, vedi JS */
  from {opacity: .4}
  to {opacity: 1}
}


/* per il testo all'interno della pagine */

.middle-page-text {
  position: relative;
  text-align: center;
  text-decoration: solid;
  font-family: 'Montserrat', sans-serif;
}

/* Per il grid container delle immagini */

div.grid-img-container {
  margin: 10px 50px; /* aggiunge il margine per allontanare da altri elementi e dal bordo dello schermo */
  max-height: 200px;
  width: 90%;
  display: grid; /* utilizzo un display grid per posizionare le immaigni */
  grid-template-areas: /* specifico come le immagini sono disposte nella griglia */
    'img1 img2 img3'
    'img4 img4 img3';
  gap: 8px; /* distanza tra le immagini */
}

div.grid-item { /* grid-item è una classe applicata a ciascun div che contiene le immagini nella griglia */
  display: flex;
  transition: .5s ease; /* questa istruzione specifica che il div si solleva in mezzo secondo quando il cursore vi passa sopra */
  box-shadow: 2px 2px 3px rgba(0,0,0,.4); /* applica una ombra opaca di 2px a detra e in basso che si "blurra" per 3px */
}

div.grid-item img{ /* stile applicato alle immagini contenute nmel grid-item */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay { /* questa classe è applicata ad un div che contiene il testo che compare sull'immagine, è utile per rendere visibile o invisibile il testo */
  position: absolute; /* prende la dimensione rlativamente al contenitore, in questo caso grid-item */
  height: 100%;
  width: 100%;
  opacity: 0; /* di base è invisibile */
}

div.grid-item:hover .overlay {
  opacity: 1; /* quando si passa col cursore sull'immagine il testo diventa visibile */
}

.testoImg { /* questa classe è applicata ai paragrafi di testo che compaiono sulle immagini*/
  font-family: "Goudy Old Style", sans-serif;
  color: rgb(255, 194, 108);
  font-size: 14pt;
  font-weight: 900;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* queste istruzioni servono per centrare il paragrafo nell'immagine */
}
@media(max-width: 1200px) { /* rimpicciolisce il font quando lo schermo si rimpicciolisce */
  .testoImg {
    font-size: 12px;
  }
}
@media(max-width: 900px) {
  .testoImg {
    font-size: 10px;
  }
}
@media(max-width: 800px) {
  .testoImg {
    font-size: 8px;
  }
}
@media(max-width: 700px) {
  .testoImg {
    font-size: 7px;
  }
}

div.grid-item:hover { /* istruzioni applicate quando si passa il cursore sulle immagini */
  box-shadow: 6px 6px 6px rgba(0,0,0,.3); /* viene applica un'ombra all'immagine più spessa */
  transform: scale(1.2); /* l'immagine viene ingrandita */
}

/* le successive istruzioni servono per assegnare gli id alle aree del grid template ai grid items */
#grid-item1 {
  grid-area: img1;
}

#grid-item2 {
  grid-area: img2;
}

#grid-item3 {
  grid-area: img3;
}

#grid-item4 {
  grid-area: img4;
}
