body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  height: 100vh; /* per metterla a tutta la pagina */

  justify-content: center;
  align-items: center;
  background-color: #FFF0DA;
}

.slider {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.slides {
  width: 500%;
  height: 800px;
  display: flex;
  flex-direction: column;
}

.slides input {
  display: none;
}

.slide  {
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 800px;
}

/* per muovere manualmente le slide */

.navigation-manual {
  position: absolute;
  margin-top: -30%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

.manual-btn {
  border: 1px solid  #FFC26C;
  background-color: #FFC26C;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.manual-btn:not(:last-child) {
  margin-bottom: 100px;
}

.manual-btn:hover {
  background-color:rgb(24, 65, 73);
  border: 1px solid rgb(24, 65, 73);
}

#radio1:checked ~ .first{
  margin-bottom: 0;
}

#radio2:checked ~ .first{
  margin-bottom: -8.37%;
}

#radio3:checked ~ .first{
  margin-bottom: -16.74%;
}

#radio4:checked ~ .first{
  margin-bottom: -25.11%;
}

/* Per il grid container delle immagini */

div.grid-img-container {
  margin: 10px 50px; /* aggiunge il margine per allontanare da altri elementi e dal bordo dello schermo */
  min-width: 500px; /* larghezza minima */
  display: grid; /* utilizzo un display grid per posizionare le immaigni */
  grid-template-areas: /* specifico come le immagini sono disposte nella griglia */
    'img1 img2 img3'
    'img4 img4 img3';
  gap: 8px; /* distanza tra le immagini */
}

div.grid-item { /* grid-item è una classe applicata a ciascun div che contiene le immagini nella griglia */
  display: flex;
  transition: .5s ease; /* questa istruzione specifica che il div si solleva in mezzo secondo quando il cursore vi passa sopra */
  box-shadow: 2px 2px 3px rgba(0,0,0,.4); /* applica una ombra opaca di 2px a detra e in basso che si "blurra" per 3px */
}

div.grid-item img{ /* stile applicato alle immagini contenute nmel grid-item */
  width: 100%;
  height: auto;
}

.overlay { /* questa classe è applicata ad un div che contiene il testo che compare sull'immagine, è utile per rendere visibile o invisibile il testo */
  position: absolute; /* prende la dimensione rlativamente al contenitore, in questo caso grid-item */
  height: 100%;
  width: 100%;
  opacity: 0; /* di base è invisibile */
}

div.grid-item:hover .overlay {
  opacity: 1; /* quando si passa col cursore sull'immagine il testo diventa visibile */
}

.testoImg { /* questa classe è applicata ai paragrafi di testo che compaiono sulle immagini*/
  font-family: "Goudy Old Style", sans-serif;
  color: black;
  font-size: 14pt;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); /* queste istruzioni servono per centrare il paragrafo nell'immagine */
}

div.grid-item:hover { /* istruzioni applicate quando si passa il cursore sulle immagini */
  box-shadow: 6px 6px 6px rgba(0,0,0,.3); /* viene applica un'ombra all'immagine più spessa */
  transform: scale(1.2); /* l'immagine viene ingrandita */
}

/* le successive istruzioni servono per assegnare gli id alle aree del grid template ai grid items */
#grid-item1 {
  grid-area: img1;
}

#grid-item2 {
  grid-area: img2;
}

#grid-item3 {
  grid-area: img3;
}

#grid-item4 {
  grid-area: img4;
}
