body {
    margin: 0;
    font-family: "Goudy Old Style", sans-serif;
    /*display: flex;
    flex-direction: column;*/
}

.row {
    display: flex;
    max-height: 650px;
}

.scrollable_content {
    overflow-y: scroll;
    max-height: 650px;
}

/* Middle column */
.content {
    flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    background-color: #FFF0DA;
}

/* Left and right column */
.columnside {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    position: relative;
}

.sx {
    background-color: #F4DAB4;
    border-right: thin solid #E4A33F;
    /*per la linea laterale della sidenav*/
    left: 0px;
}

.dx {
    background-color: #46666D;
    border-right: thin solid #184149;
    right: 0px;
}

.categoria {
    display: flex;
    flex-wrap: wrap;
}

/*singoli piattti nella colonna centrale*/
.primi {
    padding: 10px;
    text-align: center;
    max-width: 250px;
}

.primi > a {
    text-decoration: none;
    color: #46666D;
}

.nomepiatto {
    font-size: x-large;
    color: rgb(24, 65, 73);
}

/*i singoli elementi della colonna di sx*/
.piatti {
    border: 1px solid #46666D;
    padding: 10px;
    border-radius: 70px;
    /*per i bordi arrotondati*/
    text-align: center;
    background-color: #FFF0DA;
    margin: 20px;
    /*per distaccare gli elementi dell'elenco*/
    font-size: 22px;
    color: #46666D;
    text-decoration: none;
    display: block;
    /*necessario perchè altrimenti il tag sarebbe inline */
}

h1 {
    color: #E4A33F;
}

/* Change color on hover */
.piatti:hover {
    background-color: #46666D;
    color: #FFF0DA;
    border-color: #FFF0DA;
}

/*domanda componi ora nella barra id sx*/
.domanda {
    font-size: 20px;
    color: #46666D;
}

/*tasto componi ora nella barra id sx e titolo della col di dx*/
.componi {
    border: thin solid #FFC26C;
    background-color: #46666D;
    border-radius: 10px;
    /*per i bordi arrotondati*/
    padding: 15px;
    /*per aumentare quello che circonda il bottone*/
    margin-left: 60px;
    color: #FFC26C;
}