/* contenitori principali */
body {
  margin: 0; /* margine nullo in modo da non lasciare margini vuoti */
  font-family: "Goudy Old Style", sans-serif; /* selezione font */
}

.row {
  display: flex; /* il contenuto di tutta la pagina è ospitata da un container flex */
  max-height: 650px; /* il container ha una massima altezza */
}

.scrollable_content {
  overflow-y: scroll; /* eventuale overflow verticale può essere 'scrollato' */
  max-height: 650px; /* stessa altezza massima della row */
}

/* Middle column */
.content {
  flex: 3; /* la colonna centrale deve occupare più spazio delle laterali */
  -webkit-flex: 3;
  -ms-flex: 3;
  background-color: #FFF0DA; /* viene impostato un colore di sfondo */
}

/* Left and right column */
.columnside {
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  position: relative;
}

.sx {
  background-color: #F4DAB4;
  border-right: thin solid #E4A33F;
  /*per la linea laterale della sidenav*/
  left: 0px;
  text-align: center;
}

.dx {
  background-color: #46666D;
  border-right: thin solid #184149;
  right: 0px;
  overflow-y: auto;
}

.categoria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*singoli piattti nella colonna centrale*/
.primi {
  padding: 10px;
  text-align: center;
  max-width: 250px;
  cursor: pointer;
}

.primi:hover {
  background-color: #F4DAB4;
  transition: all .3s ease;
  border-radius: 20px;
}

.primi>a {
  text-decoration: none;
  color: #46666D;
  font-family: serif;
}

.nomepiatto {
  font-size: 25px;
  color: rgb(24, 65, 73);
}

/*i singoli elementi della colonna di sx*/
.piatti {
  border: 1px solid #46666D;
  padding: 10px;
  border-radius: 70px;
  /*per i bordi arrotondati*/
  text-align: center;
  background-color: #FFF0DA;
  margin: 20px;
  /*per distaccare gli elementi dell'elenco*/
  font-size: 22px;
  color: #46666D;
  text-decoration: none;
  display: block;
  /*necessario perchè altrimenti il tag sarebbe inline */
}

h1 {
  color: #E4A33F;
  text-align: center;
}

/* Change color on hover */
.piatti:hover {
  background-color: #46666D;
  color: #FFF0DA;
  border-color: #FFF0DA;
  transition: all .2s ease;
}

/*domanda componi ora nella barra id sx*/
.domanda {
  font-size: 15px;
  color: #46666D;
}

/*tasto componi ora nella barra id sx e titolo della col di dx*/
.menu_buttons {
  display: inline-block;
  border: thin solid rgb(255, 194, 108);
  /*background-color: #184149;sono indeciso tra i due background color*/
  background-color: rgb(70, 102, 109);
  border-radius: 7px;
  /*per i bordi arrotondati*/
  -webkit-border-radius: 7px;
  /*per i bordi arrotondati su safari*/
  padding: 10px 30px;
  /*per aumentare quello che circonda il bottone*/
  color: rgb(255, 194, 108);
  
  font-size: 15px;
  width: 130px;

  cursor: pointer;
  /*facciamo uscire la manina*/
  transition: all .3s ease;
  text-decoration: none;
}

#pay_button_form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start; /*per farli partire dall'alto della finestra*/
  align-items: center; /*per renderli allineati orizzontalmente al centro*/
  padding: 10px;
}

#pay_button {
  background-color: #184149;
  text-align:left;
  padding: 10px;
  width: auto;
}

.menu_buttons:hover, #pay_button:hover {
  border: thin solid #184149;
  background-color: #FFF0DA;
  color: #5D7A7F;
}

/*dettagli stilistici*/
.titolo {
  font-family: "Sofia", Lucida Handwriting, Garamond;
  font-size: 40px;
  font-weight: 100;
}

#cart-list {
  padding-inline-start: 10px;
}

#cart-list * {
  color: #FFC26C;
  padding: 3px;
  list-style: none;
}

#info_button {
  cursor: pointer;    /*facciamo uscire la manina*/
  border: none;       /*eliminare bordo e sfondo del bottone di default*/
  background: none;
  height: 25px;
  border-radius: 10px;
}

#info_button:hover {
  background: fixed;
  background-color: #FFF0DA;
}

#to_piatto_singolo {
  text-align: end; /*tasto info a destra del riquadro*/
}

.remover {
  cursor: pointer;
}